<%inherit file="../layout/layout.html" />
<h1>Frequently Asked Questions</h1>

<h2>Is there an iPhone version?</h2>

<p>No, not currently. You're welcome to write one. The server side code should have more than enough
	hooks to be able to code in support for an iPhone version. We would love to see an iPhone version,
	but like all things, it is time and resource permitting.</p>

<h2>Why can't I see messages from more than 24 hours ago?</h2>

<p>All messages older than 24 hours are automatically deleted from the system. Notifry is only intended
	to let users know something is wrong - it's not intended to be a historical reference for notifications.
	Please use the normal systems you would use in your own systems to record a permanent record of
	notifications - for example, email.</p>

<h2>Can I run my own Notifry?</h2>

<p>Yes, you can. All the code is under an Apache2 licence. So you could checkout and build your
	own version of the system.</p>

<p>See the <a href="http://code.google.com/p/notifry/">Notifry Google Code project</a> which has the full source code available.
	You will need your own Google authentication details and C2DM signup to be able to send notifications.</p>

<h2>I've found a bug, who should I tell? Or, I want a new feature?</h2>

<p>Lodge an issue in the <a href="http://code.google.com/p/notifry/issues/list">Notifry issue tracker</a>.</a>