<%inherit file="../layout/layout.html" />
<h1>Privacy Policy and information</h1>

<p>We store only the data we need to store. Once you sign in, we have access to your email
	address and possibly an name. But no other data. We will never use your email address
	for any purpose other than letting you know of an issue with your account.</p>

<p>Messages sent via the service are stored for up to 24 hours. At this time,
	they are permanently deleted from the servers. The messages are not recoverable
	after the deletion.</p>

<p>We will not look at your personal data. The only exception to this is during the BETA,
	where the system may email developers with error messages given by backend systems
	so we can debug the issue. The email may contain the contents of the message,
	but this is not the intention of these email notifications.</p>

<p>Any person knowing the source key for your source can send you notifications. Source
	keys can not be changed or regenerated. Sources can be deleted or disabled by
	users if they wish.</p>

<p>When sending notifications to the server, as little information as possible is sent
	back to the sender - the sender can never figure out which user a source belongs to.</p>

<p>Sources that are disabled on the server level will not allow messages to be sent to them.
	The server will send an error message to the sender to let them know that the source
	has been disabled. Please be aware that this information is given to the sender, which
	may not be desirable but is a fair balance between the users and the system administrators.</p>
