<%inherit file="../layout/layout.html" />
<h1>Service Level Agreement</h1>

<p>Notifry is a free service. As such, there is no guarantee that the service will
	work at any given time, as many different technologies and systems are involved,
	and any interuption in that chain will stop the system from working.</p>

<p>Notifry will make the best effort to deliver your message, but we can not
	be held accountable for any failure to notify a user via the service.</p>

<p>You <b>should not use notifry</b> for any mission critical systems. The only
	exception to this rule is when you have a backup system of some kind that
	will attempt to notify you in another way, but this is still at your own risk.</p>