<%inherit file="../layout/layout.html" />
<h1>Notifry</h1>

<p>Recent Messages</p>

<form method="get" action="">
	Filter: <select name="sid">
		<option value="">All sources</option>
		% for source in sources:
			<%
			selected = ""
			if filtersource and filtersource.key().id() == source.key().id():
				selected = 'selected="selected"'
			%>
			<option value="${source.key().id()|h}" ${selected}>${source.title|h}</option>
		% endfor
	</select>
	<input type="submit" value="Filter" />
</form>

<ul>
	% for message in messages:
		<li>
			${message.timestamp.strftime(dateformat)}: <span class="message_title">${message.title|h}</span> - (<span class="source_title">${message.source.title|h}</span>)<br />
			<pre>${message.message|h}</pre>
		</li>
	% endfor
</ul>