<%inherit file="../layout/layout.html" />

<h2>Recent Messages</h2>

<form method="get" action="">
	Filter by source: <select name="sid">
		<option value="">All sources</option>
		% for source in sources:
			<%
			selected = ""
			if filtersource and filtersource.key().id() == source.key().id():
				selected = 'selected="selected"'
			%>
			<option value="${source.key().id()|h}" ${selected}>${source.title|h}</option>
		% endfor
	</select>
	<input type="submit" value="Filter" />
</form>

<p>&nbsp;</p>

<table class="details messages">
	<thead>
		<tr>
			<th>Time</th>
			<th>Title</th>
			<th>Source</th>
			<th>Size</th>
		</tr>
	</thead>
	<tbody>
		% for message in messages:
			<tr class="message_header_row">
				<td>${message.timestamp.strftime(dateformat)}</td>
				<td>${message.title|h}</td>
				<td>${message.source.title|h}</td>
				<td>${message.getsize()}</td>
			</tr>
			% if message.url:
			<tr class="message_data_row">
				<td colspan="4"><a href="${message.url|h}">${message.url|h}</a></td>
			</tr>
			% endif
			<tr class="message_data_row">
				<td colspan="4">
					${message.message|h}
				</td>
			</tr>
		% endfor
	</tbody>
</table>