<%inherit file="../layout/layout.html" />
<h1>Notifry</h1>

<p><a href="/messages/">View recent messages</a></p>

<p><a href="/sources/create">Create new source</a></p>

<ul>
	% for source in sources:
		<li>
			${source.title|h} - key ${source.externalKey} - enabled ${source.enabled}
			<a href="/sources/edit?id=${source.key().id()}">edit</a> -
			<a href="/messages/?sid=${source.key().id()}">messages</a>
		</li>
	% endfor
</ul>

<p>Devices:</p>

<ul>
	% for device in devices:
		<li>${device.deviceType|h}</a> - key ${device.deviceKey|h}, last updated ${device.updated}</li>
	% endfor
</ul>