<%inherit file="../layout/layout.html" />
<h1>Notifry</h1>

<p><a href="/messages/">View recent messages</a></p>

<p><a href="/sources/create">Create new source</a></p>

<ul>
	% for source in sources:
		<li>
			<a href="/sources/edit?id=${source.key().id()}">Edit</a>
			| <a href="/messages/?sid=${source.key().id()}">Messages</a>
			| <a href="/sources/test?id=${source.key().id()}">Test</a>
			| <a href="/sources/delete?id=${source.key().id()}">Delete</a>
			| <span class="source_title">${source.title|h}</span> -
			% if source.enabled:
				<span class="enabled">Enabled</span>
			% else:
				<span class="disabled">Disabled</span>
			% endif
			- key ${source.externalKey}
		</li>
	% endfor
</ul>

<p>Devices:</p>

<ul>
	% for device in devices:
		<li>
			<a href="/devices/delete?id=${device.key().id()}">Delete</a>
			| ${device.deviceNickname|h} (${device.deviceType|h}) - last updated ${device.updated.strftime(dateformat)}</li>
	% endfor
</ul>
