<%inherit file="layout/layout.html" />
<img src="/static/images/logo.png" width="256" height="256" alt="Notifry Logo" align="right" />

<h1>Notifry (Closed BETA)</h1>

<h2>Overview</h2>

<p>Notifry is a push notification service to send server notifications to Android
Mobile phones, running 2.2 or later. It uses Google's Android Cloud to Device
Messaging APIs.</p>

<p>Unlike other systems that do the server monitoring for you, Notifry is just
intended to get the message to the phone - and no more. Notifry is meant to be
very simple and just focus on getting the notifications to the phone. You can
plug Notifry into your existing monitoring system to get the notifications
going. Users supply the system administrators with a single unique key that
identifies at message source, which they can enable or disable at will.</p>

<h3>Status</h3>

<p>Notifry is still very new. In fact, so new, that the only reason this site
is public is that the developers need a backend to test against. The Android
client is not publically released yet, so there is little to accomplish with
this website at this time.<p>

<p>We're working hard on the site though, and when we're ready, this site will
get it's final web design (rather that this half completed one) and also the 
Android client will be released into the market.</p>

<p>We can't say when it will be ready... but we prefer to release things when
they are ready, rather than rushing things!</p>
